/* Fuentes */

@font-face {
    font-family: caviar;
    src: url(./../fonts/caviardreams.ttf);
}

@font-face {
    font-family: nevis;
    src: url(./../fonts/nevis.ttf);
}

@font-face {
    font-family: mohave;
    src: url(./../fonts/mohave.otf);
}

/* General */
html, body {
	height: 100%;
	font-family: caviar;
}

body {
	background: cover;
	background-color: #000;
}

.gridloading {
	display: table-cell;
	background-color: red;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

/*
.tlt {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 20px 0;
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
*/

#wrapper {
	display: none;
}
 
/*					*/
/* Navigation Bar 	*/
/*					*/	


.navbar {
   background-color: #fff;
   background: #fff;
   border-color: #fff;
}


/*					*/
/* Slide 			*/
/*					*/

.slide {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	background-color: #fff;
	/*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

#intro {
	background: url(./../images/cover.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.IconTitle {
	display: block;
	width: 72px;
	height: 72px;
	float: left;
}

.TitleSlide {
	margin-top: 72px;
	margin-bottom: 48px;

	font-family: mohave;
	font-size: 3em;
	font-weight: 700;
}


/* 					*/
/* Landing slide	*/
/*					*/

#iamcard{
	display: inline-block;
    padding-top: 3em;
    padding-right: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    color: #fff;
    background-color: rgba(32, 32, 32, 0.2);
	text-align: center;

	margin-top: 96px;
}

#iam{
	font-family: mohave;	
	padding-bottom: 1em;
	font-size: 5.2em;
}


#iamprofession{
	font-family: nevis;	
	font-size: 4.1em;
	font-weight: 500;
	line-height: 1em;
}

#iamsubtitleprofession{
	font-size: 3em;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 	

	#iam {
		font-size: 4.6em;
	}

	#iamprofession {
		font-size: 3.5em;	
	}

	#iamsubtitleprofession{
		font-size: 2.5em;
	}
}

@media only screen and (max-device-width : 768px) { 	

	#iam {
		font-size: 3.4em;
	}

	#iamprofession {
		font-size: 2.6em;	
	}

	#iamsubtitleprofession{
		font-size: 1.9em;
	}
}

/* 					*/
/* About Me slide	*/
/*					*/

#AboutMeSlide {
	
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	font-size: 1.3em;
	text-align: justify;
}

#AboutMeTitle{
	margin-left: 84px;
	color: #29A69C;
}


#ComeIn{
	display:block;
	padding-top: 89px;
	width: 55px;
	height: 55px;
	margin: 0 auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/down-arrows10.svg);

}

/* 					*/
/* Project slide	*/
/*					*/

#ProjectSlide {
	background-color: #fff;	
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}

#ProjectTitle{
	margin-left: 84px;
	color: #FC611F;
}

	/* 					*/
	/* Experience slide */
	/*					*/

	.container-slide {
		height: 100px;
	}

	.ExperienceSlide {
		display: table;
		width: 100%;
		float: left;
		background-color: #15B0BF;
		z-index: 90;
	}


	#slideContainer{
	    position: relative;
	    width: 100px;
	    background: green;
	    z-index: 80;
	}

	.Arrow {
		position: absolute;
		height: 48px;
		width: 48px;
		z-index: 100;
	}

	.Arrow#Left{
	    background: green;
    	background: url(../images/l-arrow.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.Arrow#Right{
   	    background: red; 
    	background: url(../images/r-arrow.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;

	}

	.ExperienceCard{
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding-left: 30px;
		padding-bottom: 12px;
		padding-right: 30px;
		padding-top: 12px;
		font-size: 1.2em;
		color: #2D3E59;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.ResumeCard{
		font-size: 0.85em;
		text-align: justify;
	}

	.TitleProject{
		font-family: mohave;
		font-size: 1.8em;
		color: #FC611F;
		height: 50px;
		text-align: center;
		margin-bottom: 0.5em;
	}

	.InfoSlide{
		color: #FC611F;		
	}


	/* 					*/
	/* Modal Window 	*/
	/*					*/

	.modal-header {
		font-family: mohave;
		font-size: 2.4em;
	}

	.modal-body {
		text-align: justify;
		font-size: 1.2em;
	}

/* 					*/
/* Contact slide	*/
/*					*/

#ContactSlide {
	min-height: 100%;
	height: 100%; /* For at least Firefox */
	font-size: 1.3em;
	text-align: justify;	
}


#ContactaTitle{
	margin-left: 84px;
	color: #F6A100;
}

#ContactLetter {
	font-size: 1.1em;
	text-align: justify;
}


/*					*/
/* Footer			*/
/*					*/


#AppFooter {
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #fff;

	bottom: 0;
	z-index: 90;

}

.IconFooter {
	display: table-cell;
	width: 35px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
	padding-top: 5px;
}

.IconGraphic {
	display: inline-block;
	width: 30px; height: 30px;
}

.TextFooter{
	display: table-cell;
	height: 40px;
	line-height: 40px;
	float: right;
	margin-right: 20px;
}

#LinkedIn{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/linkedin.png);
	display: block;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
}

#Mail{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/mail.png);
	display: block;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
}

#Twitter{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/twitter.png);
	display: block;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
}

#GitHub{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/github.png);
	display: block;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
}
